*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: black;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: white;
    float: left;
    padding-top: 25px;
}
nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 25px;
    padding-bottom: 10px;
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #FFCC00;
}

nav a:before{
    content: '';
    display: block;
    height: 5px;

    background-color: #FFCC00;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


.background-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    color: white
}

.title p{
    font-style: italic;
}

.stages h1{
    padding-top: 20px;
    text-align: center;
    font-style: oblique;
}

.stages p{
    color: #32a852;
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
}

.section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60% ;
    margin: 10rem auto 0 auto;
}

@media screen and (max-width: 480px) {
    .section img { width: 200px;}
    .section { display:block }
}
.section img{
    height: 250px;
}

.section h1{
    margin: 0;
    color: greenyellow;
}

.section p{
    color: black;
    margin-right: 15px;
}

.text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
