*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: black;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: white;
    float: left;
    padding-top: 25px;
}
nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 25px;
    padding-bottom: 10px;
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #FFCC00;
}

nav a:before{
    content: '';
    display: block;
    height: 5px;

    background-color: #FFCC00;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


.background-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    color: white
}

.title p{
    font-style: italic;
}

.stages h1{
    padding-top: 20px;
    text-align: center;
    font-style: oblique;
}

.stages p{
    color: #32a852;
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
}

.section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60% ;
    margin: 10rem auto 0 auto;
}


@media screen and (max-width: 480px) {
    .section img { width: 200px;}
    .section { display:block }
}
.section img{
    height: 250px;
}

.section h1{
    margin: 0;
    color: greenyellow;
}

.section p{
    color: black;
    margin-right: 15px;
}

.text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Thoughts h1,p{
    text-align: center;
}

.Thoughts p{
    padding-top: 20px;
}

.TitleForRules{
    padding-bottom: 30px;
}
.Rules{
    background-color: wheat;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
}

.Rules p {
    --h: 1.2em;
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c, #000);
    background: 
      linear-gradient(#1095c1 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    overflow: hidden;
    transition: 0.3s;
  }

  .Rules p:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  .footer-basic ul {
    display: flex;
    justify-content: space-between;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-basic ul a:hover {
    color: #000;
    opacity:1;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  .text-danger {
    color: gold;
  }

  .contactBody{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background:  #009B77;
    color: #fff;
  }

   .contactInputcontainer {
    padding: 50px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contactInputcontainer * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer label:hover{
    color: black;
  }
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: black;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  .loveGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

  .img-wrapper{
    position: relative;
    overflow: hidden;
  }

  .img-wrapper > img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  .img-wrapper > .PhotoLoveDescription{
    position: absolute;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper > img,
  .img-wrapper > .PhotoLoveDescription{
    transition: 200ms ease-in-out;
  }

.img-wrapper:hover> img.blur{
  filter: blur(5px);
}

.img-wrapper > .PhotoLoveDescription.fade{
  opacity: 0;
}

.img-wrapper:hover > .PhotoLoveDescription.fade{
  opacity: 1;
}

.gallery-container{
  max-width: 700px;
  margin: 16px 0;
}

.active-image{
  height: 400px;
  margin-bottom: 8px;
  position: relative;
}

.active-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-image .active-caption{
  position: absolute;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 24px;
  color: #eee;
}